.transparent_button {
    font-family: San Francisco;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0);
    color: #808080;
    box-shadow: 0px 0px 0px transparent
}

.transparent_button:hover {
    color: #FFFFFF;
}

.transparent_button:active {
    font-family: San Francisco;
    font-weight: bold;
    border: none;
    font-size: 22px;
}

.settings_btn {
    font-family: San Francisco;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0);
    color: #808080;
    box-shadow: 0px 0px 0px transparent
}

.settings_btn:hover {
    color: #FFFFFF;
}

.portfolio_name_button {
    font-family: San Francisco;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0);
    color: #808080;
    box-shadow: 0px 0px 0px transparent
}

.portfolio_name_button:hover {
    color: #FFFFFF;
}

.portfolio_name_button:active {
    font-family: San Francisco;
    font-weight: bold;
    border: none;
    font-size: 18px;
}